<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GPX Uploader</title>
</head>
<body>
  <h1>Upload GPX File</h1>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="gpxfile" accept=".gpx"><br>
    <label>Uphill threshold (%): <input type="number" name="up_threshold" value="10" step="1"></label><br>
    <label>Downhill threshold (%): <input type="number" name="down_threshold" value="10" step="1"></label><br>
    <input type="submit" value="Upload">
  </form>
</body>
</html>
